.gameBoard {
  display: flex;
  // flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  min-height: 100vh;
  padding-top: 50px;
  overflow: hidden;

  &__info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    font-size: 40px;

    &-userscore {
      display: flex;
      // align-items: center;
      padding-left: 30px;

      &-gamer {
        display: flex;
        flex-wrap: nowrap;
      }

      &-incorrect {
        animation: moveScore 1s;
      }

      @keyframes moveScore {
        10% {
          transform: translateX(5px);
        }
        20% {
          transform: translateX(-5px);
        }
        40% {
          transform: translateX(3px);
        }
        60% {
          transform: translateX(-3px);
        }
      }
    }
  }

  &__timer {
    width: 150px;
  }

  &-stop {
    font-size: 30px;
    padding: 3px 30px;
    // margin: 5px 10px 20px;
    border-radius: 20px;
    border: 2px solid rgb(186, 7, 29);
    margin: 0;
  }
}

.slide-game {
  margin-left: -200vw;
  transition: all 0.1s;
}

h1 {
  text-align: center;
  margin-top: 1vw;
  font-size: 4vw;
  margin-bottom: 1vw;
  display: inline-block;
}
.example-board {
  display: none;
  justify-content: center;
  align-items: center;
  margin-bottom: 1vw;
  // transition: all 1s;
  margin-top: 5vw;
}
.example-board div {
  width: 14vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vw;
  padding: 5vw;
}
.example-board input {
  border: 2px solid #eee;
  border-radius: 8px;
  width: 14vw;
  font-size: 5vw;
  padding: 2vw;
  background: rgba(74, 79, 85, 0.5);
  color: #eee;
}

.move {
  animation: move 1s;
}

@keyframes move {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}

.moveLeft {
  animation: moveLeft 1s;
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100vw);
    // display: none;
  }
}

.userscore {
  // font-size: 40px;
  text-align: center;
}
.userscore__status {
  opacity: 0;
  margin-left: 10px;
  // transition: all 0.3s;

  &-correct {
    opacity: 1;
    color: darkgreen;
    animation: scoreUp 1.7s;
  }

  &-incorrect {
    opacity: 1;
    color: darkred;
    animation: scoreDown 1.7s;
  }

  @keyframes scoreUp {
    0% {
      transform: translateY(0px);
    }
    80% {
      transform: translateY(-15px);
    }
    100% {
      transform: translateY(-15px);
      opacity: 0;
    }
  }

  @keyframes scoreDown {
    0% {
      transform: translateY(0px);
    }
    80% {
      transform: translateY(15px);
    }
    100% {
      transform: translateY(15px);
      opacity: 0;
    }
  }
}
h3 {
  margin-top: 30px;
  font-size: 26px;
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.userinfo {
  text-transform: uppercase;
  color: rgb(243, 34, 59);
}

@media screen and (max-width: 900px) {
  .gameBoard {
    &__info {
      width: 100%;
      font-size: 32px;
    }
    &-stop {
      font-size: 27px;
    }
  }
}

@media screen and (max-width: 700px) {
  .gameBoard {
    &__info {
      flex-direction: column;
      width: 100%;
      font-size: 25px;
      flex-wrap: wrap;

      div {
        margin-top: 20px;
      }
    }

    &-stop {
      font-size: 23px;
    }
  }
}
