.window {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -100vh;
  transition: all 0.3s;
  color: #eeeeee;
  // background: rgba(69, 86, 125, 0.3);

  &__inner {
    width: 70vw;
    height: 80vh;
    margin: 5% auto;
    border-radius: 20px;
    background-color: rgba(186, 7, 29, 0.9);
    padding: 30px;
  }

  &__close {
    float: right;
    margin: -40px 20px 0;
    cursor: pointer;
  }

  &__list {
    list-style: none;
    text-align: left;
    padding-left: 30px;
    &-item {
      font-size: 15px;
      line-height: 30px;
    }
  }

  &__mode {
    display: none;

    &-visiable {
      display: flex;
    }

    &-item {
      display: block;
    }
  }
  input {
    display: none;

    &:checked + label {
      background: orange;
    }
  }
}

.openWindow {
  bottom: 0;
  transition: all 0.3s;
}
